html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #050505;
    overflow: hidden;
}

#audios {
    position: relative;
}

#audios::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(163, 255, 18, 0.08);
    filter: blur(120px);
    border-radius: 999px;
}

input[type="range"] {
    height: 6px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.08) !important;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 999px;
    background: #A3FF12;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(163, 255, 18, 0.8);
}